<div class="container-fluid text-center" style="margin-top: 60px;">
    <h1>Bag List</h1>
</div>

<br>

<div class="container-fluid">
    <div class="row" > 
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 1
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group">
                    <li class="list-group-item">Item 1</li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                    <li class="list-group-item">Item 4</li>
                    <li class="list-group-item">Item 5</li>
                </ul>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 3
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group">
                    <li class="list-group-item">Item 1</li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                    <li class="list-group-item">Item 4</li>
                    <li class="list-group-item">Item 5</li>
                </ul>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 5
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group">
                    <li class="list-group-item">Item 1</li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                    <li class="list-group-item">Item 4</li>
                    <li class="list-group-item">Item 5</li>
                </ul>
            </mat-expansion-panel>
        </div>
        <div class="col-lg-4">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 2
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
              <br>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 4
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group">
                    <li class="list-group-item">Item 1</li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                    <li class="list-group-item">Item 4</li>
                    <li class="list-group-item">Item 5</li>
                </ul>
            </mat-expansion-panel>
        </div>
        <div class="col-lg-2"></div>
    </div>


</div>