<div class="container-fluid text-center" style="margin-top: 60px;"></div>
<div style="background-color: blanchedalmond; min-height:94vh">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="container-fluid">
            <div class="text-center"><h1>Welcome</h1></div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><mat-card style="background-color: brown;"></mat-card></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <mat-card>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;"><h1>Login</h1></div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8" >
                            <mat-form-field class="full-width" id="username">
                                <mat-label>Username</mat-label>
                                <input matInput  formControlName="username" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <mat-form-field class="full-width" id="password">
                                <input matInput id="password" type="password" placeholder="Password" formControlName="password" autocomplete="off" showHideInput >
                                <i class="material-icons" matSuffix showHideTrigger="password" [showHideStatus]="{ materialIcon: true, id: 'password' }"></i>
                            </mat-form-field> 
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <br>
                    <div class="row">                    
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <div><a href="https://google.com" id="forget">Forget Password?</a></div>  
                        </div>
                        <div class="col-sm-4">
                            <div style="text-align: right;">
                                <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    </mat-card>
                </div>
                <div class="col-sm-4"></div>
            </div>    
        </div>
    </form>
</div>