<div class="container-fluid text-center" style="margin-top: 60px;"></div>
<div style="background-color: blanchedalmond; min-height:94vh">
<div class="container-fluid">
    <ng-container *ngFor="let ch of events.characterList">
        <h1 class="text-center">{{ch.name}}'s Skills</h1>
    </ng-container>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <ng-container *ngFor="let ch of events.characterList">
                <ng-container *ngFor="let skill of ch.skillsList">
                    <div class="row" >
                        <div class="col-lg-6"><h4>{{skill.skillName}}</h4></div>
                        <div class="col-lg-6 text-right">
                            <img src="assets/images/sword.png" style="width: auto; height:50px;" *ngIf="skill.skillType == 1">
                            <img src="assets/images/magic.png" style="width: auto; height:50px;" *ngIf="skill.skillType == 2">
                            <img src="assets/images/other.png" style="width: auto; height:50px;" *ngIf="skill.skillType == 3">
                            <!-- Type: {{skill.skillType}} -->
                        </div> 
                        <br>
                        <div class="col-lg-6">Damage: {{skill.skillDamage}}</div>
                        <div class="col-lg-6 text-right" >Skill Cost: {{skill.skillCost}}</div> 
                    </div>
                    <hr><br>
                </ng-container>
            </ng-container>      
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>


<!-- 
<div class="row">
    <div class="col-lg-6"><h5>Skill Name</h5></div>
    <div class="col-lg-6 text-right" >Skill Type</div> 
    <br>
    <div class="col-lg-6">Skill Desc</div>
    <div class="col-lg-6 text-right" >Skill Cost</div> 
</div>
<hr> -->