<div class="container-fluid text-center" style="margin-top: 60px;"></div>
<div style="background-color: blanchedalmond; min-height:94vh">
    <div class="container-fluid text-center" >
        <br>
        <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
            <div class="row" > 
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <mat-card class="test">
                        <div class="row">
                            <div class="col-lg-1"><i class="fas fa-book" style="font-size: 80px;"></i></div>
                            <div class="col-md-10 text-center">
                                <h5 style="font-family: Asap Condensed; font-size: 30px;">Character Name</h5><br>
                                <mat-form-field class="full-width" style="width: 400px; font-size: larger;">
                                    <input matInput formControlName="name" autocomplete="off" style="text-align: center;" >
                                </mat-form-field>
                            </div>   
                            <div class="col-lg-1"><i class="fas fa-book" style="font-size: 80px;"></i></div>                  
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-3">
                                <mat-form-field class="full-width" >
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="gender" autocomplete="off">
                                      <mat-option [value]="gender.id" *ngFor="let gender of genders">
                                          {{gender.type}}
                                      </mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field class="full-width" >
                                    <mat-label>Race</mat-label>
                                    <mat-select formControlName="race" autocomplete="off">
                                      <mat-option [value]="race.id" *ngFor="let race of races">
                                          {{race.type}}
                                      </mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field class="full-width" >
                                    <mat-label>Class</mat-label>
                                    <mat-select formControlName="class" autocomplete="off">
                                      <mat-option [value]="class.id" *ngFor="let class of classes">
                                          {{class.type}}
                                      </mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field class="full-width" >
                                    <mat-label>Origin</mat-label>
                                    <input matInput formControlName="origin" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4"><a routerLink="/bag"><button mat-raised-button color="primary">Bags</button></a></div>
                            <div class="col-lg-4"><a routerLink="/items"><button mat-raised-button color="primary">Items</button></a></div>
                            <div class="col-lg-4"><a routerLink="/skills"><button mat-raised-button color="primary">Skills</button></a></div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br>
        </form>
    </div>
    <div class="container-fluid">
        <div class="text-center"><h1>Bag List</h1></div><br>
          <div class="row" > 
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <div class="row">
                    <ng-container *ngFor="let character of account.characterList">
                        <ng-container *ngFor="let bag of character.bagList">
                            <div class="col-lg-6">
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>{{bag.bagName}}</mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <ul class="list-group">
                                    <ng-container *ngFor="let item of bag.itemList">
                                      <li class="list-group-item">
                                        <div class="row">
                                          <div class="col-lg-6"><h5>{{item.name}}</h5></div>
                                          <div class="col-lg-6 text-right"><h5>{{item.cost}}</h5></div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-12">{{item.desc}}</div>
                                        </div>
                                      </li>
                                    </ng-container>
                                  </ul>
                                </mat-expansion-panel>
                                <br>
                              </div>
                        </ng-container>
                    </ng-container>
                </div>
              </div>
              <div class="col-lg-2"></div>
          </div>
    </div>