<div class="container-fluid text-center" style="margin-top: 60px;">
</div>
<br>
<div class="container-fluid text-center" >
    <div class="row" > 
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <mat-card class="test">
                <div class="row">
                    <div class="col-lg-1"><i class="fas fa-book" style="font-size: 80px;"></i></div>
                    <div class="col-md-10 text-center">
                        <h5 style="font-family: Asap Condensed; font-size: 30px;">Character Name</h5><br>
                        <mat-form-field class="full-width" style="width: 400px; font-size: larger;">
                            <input matInput autocomplete="off" style="text-align: center;">
                        </mat-form-field>
                    </div>   
                    <div class="col-lg-1"><i class="fas fa-book" style="font-size: 80px;"></i></div>                  
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-3">
                        <mat-form-field class="full-width" >
                            <mat-label>Gender</mat-label>
                            <input matInput autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field class="full-width" >
                            <mat-label>Race</mat-label>
                            <input matInput autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field class="full-width" >
                            <mat-label>Class</mat-label>
                            <input matInput autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field class="full-width" >
                            <mat-label>Origin</mat-label>
                            <input matInput autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4"><a routerLink="/bag"><button mat-raised-button color="primary">Bags</button></a></div>
                    <div class="col-lg-4"><a routerLink="/items"><button mat-raised-button color="primary">Items</button></a></div>
                    <div class="col-lg-4"><a routerLink="/skills"><button mat-raised-button color="primary">Skills</button></a></div>
                </div>
               



            </mat-card>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <br>
    <div clas="row text-center">
        <h3>Bag List</h3>
    </div>
    <br>
    
    <div class="row" > 
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 1
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group">
                    <li class="list-group-item">Item 1</li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                    <li class="list-group-item">Item 4</li>
                    <li class="list-group-item">Item 5</li>
                </ul>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 3
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group">
                    <li class="list-group-item">Item 1</li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                    <li class="list-group-item">Item 4</li>
                    <li class="list-group-item">Item 5</li>
                </ul>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 5
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group">
                    <li class="list-group-item">Item 1</li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                    <li class="list-group-item">Item 4</li>
                    <li class="list-group-item">Item 5</li>
                </ul>
            </mat-expansion-panel>
        </div>
        <div class="col-lg-4">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 2
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
              <br>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Bag 4
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="list-group">
                    <li class="list-group-item">Item 1</li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                    <li class="list-group-item">Item 4</li>
                    <li class="list-group-item">Item 5</li>
                </ul>
            </mat-expansion-panel>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
