<div class="container-fluid text-center" style="margin-top: 60px;"></div>
<div style="background-color: blanchedalmond; min-height:94vh">
    <div class="container-fluid">
        <h1 style="text-align: center;">Character List</h1>
        <div class="row" >
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row text-center">
                    <ng-container *ngFor="let acc of account.characterList">
                        <div class="col-lg-4">
                            <mat-card style="width: 100%;">
                                <div class="row text-center">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-8"><mat-card-title style="font-family:Odibee Sans; font-size: xx-large;" ><a [routerLink]="['/character', acc.name]">{{ acc.name}}</a></mat-card-title></div>
                                    <div class="col-lg-2"><a (click)="deleteCharacter(acc.id)"><i class="fas fa-times-circle" style="color: red;"></i></a></div>
                                </div>
                                <a [routerLink]="['/character', acc.name]"><img mat-card-image src="assets/images/profile.jpg"style="width: 70%; height: 300px; border-radius: 15px;"></a><br>
                                <mat-card-actions>
                                    <a [routerLink]="['/skills', acc.name]"><button class="btn btn-success" type="button">Skills</button></a> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a [routerLink]="['/character', acc.name]"><button class="btn btn-success" type="button">About</button></a>
                                </mat-card-actions>
                            </mat-card>
                            <br>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-2"></div> 
        </div>
    </div>
    <br>
</div>
